
{% assign alt = include.alt | default: include.caption %}

{%- capture base -%}
{{ site.baseurl }}{{ page.images_root_path }}/resized{{ page.url }}
{%- endcapture -%}

{%- capture src -%}
{{ base }}/default/{{ include.file }}
{%- endcapture -%}

{%- capture srcoriginal -%}
{{ site.baseurl }}{{ page.images_root_path }}{{ page.url }}/{{ include.file }}.jpg
{%- endcapture -%}

<div class="image-container {{ include.class }}" style="{{ include.style }}">
  {% if include.clickable != false %}
    <a href="{{ srcoriginal }}">
  {% endif %}

  {% assign arr = page.sizes | sort: "width" %}
  <picture>
    {% for i in arr %}
      {%- capture srcresized -%}
        {{ base }}/{{ i.size }}/{{ include.file }}
      {%- endcapture -%}

      <source media="(max-width: {{ i.width }}px)" data-srcset="{{ srcresized }}.webP" type="image/webp">
      <source media="(max-width: {{ i.width }}px)" data-srcset="{{ srcresized }}.jpg" type="image/jpg">
    {% endfor %}
    
    <source data-srcset="{{ src }}.webP" type="image/webp">
    <source data-srcset="{{ src }}.jpg" type="image/jpg">
    <img data-src="{{ src }}.jpg" alt="{{ alt }}">
  </picture>
  {% if include.clickable != false %}
    </a>
  {% endif %}

  <p style="padding: 0px 32px;">
    {{ include.caption }}
  </p>
</div>