
{% assign alt = include.alt | default: include.caption %}

{%- capture src -%}
{{ site.baseurl }}{{ page.images_root_path }}{{ page.url }}/{{ include.file }}
{%- endcapture -%}

<div class="image-container {{ include.class }}" style="{{ include.style }}">
  {% if include.clickable != false %}
    <a href="{{ src }}.jpg">
  {% endif %}
  <picture>
    {% for i in page.sizes %}
      {%- capture srcresized -%}
        {{ site.baseurl }}{{ page.images_root_path }}/resized{{ page.url }}/{{ i.width }}/{{ include.file }}
      {%- endcapture -%}

      <source media="(max-width: {{ i.width }}px)" srcset="{{ srcresized }}.webP" type="image/webp">
      <source media="(max-width: {{ i.width }}px)" srcset="{{ srcresized }}.jpg" type="image/jpg">
    {% endfor %}
    
    <source srcset="{{ src }}.webP" type="image/webp">
    <source srcset="{{ src }}.jpg" type="image/jpg">
    <img src="{{ src }}.jpg" alt="{{ alt }}">
  </picture>
  {% if include.clickable != false %}
    </a>
  {% endif %}

  <p style="padding: 0px 32px;">
    {{ include.caption }}
  </p>
</div>