---
layout: compress

---


<!DOCTYPE html>
<html lang="en" >
  {% include head.html %}  
  <body>
    <main role="main">
    
      {% include navigation.html %}
      
      {{ content }}
              
    </main>
    <script>
      function updateGap() {
        var isMobile = document.body.clientWidth <= 720;
        var els = document.getElementsByClassName("gap");
        var width = isMobile? document.body.clientWidth : (document.getElementsByTagName('section')[0].clientWidth - 32);
        
        for (let i=0; i < els.length; ++i) {
          var el = els[i];
          var newHeight = width * parseFloat(el.dataset.ratio);
          el.style = "position: relative; height:" + newHeight + "px; width: 100%;";
        }
      };
      window.addEventListener("resize", updateGap);
      updateGap();
      //window.addEventListener("DOMContentLoaded", updateGap, false);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js">
    </script>

    <script>
       var lazyLoad = new LazyLoad({
        elements_selector: ".lazy",
        cancel_on_exit: true
      });
    </script> 

    
  </body>

</html>
