---
layout: default
---

{% unless page.lang %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var userLang = navigator.language || navigator.userLanguage;
    if ((userLang == "ru") || (userLang == "ru-RU")) {
      window.location.href = "{{ site.url }}/ru/";
    }
    else {
      window.location.href = "{{ site.url }}/en/";
    }
  });
</script>
{% endunless %}

<section class="posts">
  <ul>
  {% if page.lang %}
    {% assign posts=site.posts | where:"lang", page.lang %}
  {% else %}
    {% assign posts=site.posts %}
  {% endif %}

  {% for post in posts %}
  <li style="margin-bottom: 10px">
    <a style="width: 100%;" href="{{ site.baseurl }}{{ post.url }}">
      <div class="post-item">
        <div style="white-space: initial;">
          {{ post.title }}
        </div>
        <div class="time">
          <time style="color: rgba(0,0,0,.45); font-style: italic; padding-left: 0px;" datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%d.%m.%Y" }}
          </time>
    
        </div>
      </div>
    </a>
  </li>
  {% endfor %}

  {% if posts.size == 0 %}
    <img style="width: 100%;" src="{{ site.baseurl }}/nothing.png"/>
    <a href="/ru">Кликай сюда, чтобы читать на русском</a>
  {% endif %}
  </ul>

</section>
